# local package
-e .

# external requirements
python-dotenv
langchain
langchain_community==0.2.4
sentence-transformers
langchain_mistralai
gpt4all==2.7.0
openai
youtube-transcript-api
chromadb
tiktoken
faiss-cpu
wikipedia
pinecone-client
pgvector
